@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {
  body {
    display: block;
    width: 748px;
    margin: auto auto 1em;
    padding: 0 10px;
  }
}

html {
  color-scheme: dark;
  color: white;
  background: rgb(8, 5, 23);
}

body {
  color-scheme: dark;
  color: white;
}

.realbody {
  backdrop-filter: blur(2px);
}

.overflowxscroll {
  overflow: auto;
}

.gif-player::selection {
  background-color: transparent;
  color: #000;
}

.seperator::selection {
  background-color: transparent;
}

.center {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.construction-border {
  border:2px solid white;
  border-style: dashed;
}

.star {
  position: absolute;
  animation-name: twinkle;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  user-select: none; 
}

@keyframes twinkle {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.3);
    }
}
