@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {
  body {
    display: block;
    width: 748px;
    margin: auto auto 1em;
    padding: 0 10px;
  }
}

html {
  color-scheme: dark;
  color: white;
  background: rgb(8, 5, 23);
}

body {
  color-scheme: dark;
  color: white;
}

.blurryback {
  backdrop-filter: blur(3px);
}

.overflowxscroll {
  overflow: auto;
}

.gif-player::selection {
  background-color: transparent;
  color: #000;
}

.seperator::selection {
  background-color: transparent;
}

.center {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.construction-border {
  border:2px solid white;
  border-style: dashed;
}

.star {
  position: absolute;
  animation-name: twinkle;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  user-select: none; 
  filter: blur(0.5px);
}

@keyframes twinkle {
    0% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
    8% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}

.meteor::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(#fce7a1,.7);
  box-shadow: 0 0 15px 3px #fce7a1;
}

.meteor {
  position: absolute;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255,255,255,0));
  animation-name: meteor;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
