@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {

  body {
    display: block;
    width: 748px;
    margin: auto auto 1em;
    margin-top: 92px
  }

}

.highlight {
  background-color: rgb(26, 15, 55);
  animation-name: highlightcolortransition;
  animation-timing-function: ease;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

html {
  animation-name: backgroundcolortransition;
  animation-timing-function: ease;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

html {
  min-height: 100%;
  color-scheme: dark;
  color: white;
  background: rgb(0,0,0);
  background: linear-gradient(163deg, rgba(16,10,45,1) 0%, rgba(21,7,57,1) 12%, rgba(25,16,56,1) 28%, rgba(28,10,52,1) 49%, rgba(17,10,50,1) 79%, rgba(14,7,40,1) 90%, rgba(12,7,34,1) 100%);
  background-attachment: fixed;
}

body {
  color-scheme: dark;
  color: white;
}

.stargazebutton1 {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0%);
  animation-name: fadeInAnimation;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  animation-duration: 1.2s;
  opacity: 0;
}

.stargazebutton2 {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0%);
  animation-name: fadeInAnimation;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  animation-duration: 1.2s;
  opacity: 0;
}

.blurryback {
  background: rgb(8, 5, 23, 0.01);
}

.overflowxscroll {
  overflow: auto;
}

.gif-player::selection {
  background-color: transparent;
  color: #000;
}

.seperator::selection {
  background-color: transparent;
}

.center {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.construction-border {
  border:2px solid white;
  border-style: dashed;
}

.star1 {
  font-size: 25px;
  position: absolute;
  animation-name: twinkle1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  user-select: none; 
  filter: blur(0.25px);
  z-index: -1;
  opacity: 0;
}

.star2 {
  font-size: 12px;
  position: absolute;
  animation-name: twinkle2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  user-select: none; 
  filter: blur(0.25px);
  z-index: -1;
  opacity: 0;
}

.star3 {
  font-size: 15px;
  position: absolute;
  animation-name: twinkle3;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  user-select: none; 
  filter: blur(0.25px);
  z-index: -1;
  opacity: 0;
}

.meteor::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(#fce7a1,.7);
  box-shadow: 0 0 15px 3px #fce7a1;
}

.meteor {
  position: absolute;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255,255,255,0));
  animation-name: meteor;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.fadein1 {
  animation-name: fadeInAnimation;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  animation-duration: 1.2s;
  opacity: 0;
}
.fadein2 {
  animation-name: fadeInAnimation;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  animation-duration: 1.2s;
  opacity: 0;
}
.fadein3 {
  animation-name: fadeInAnimation;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  animation-duration: 1.2s;
  opacity: 0;
}
.fadein4 {
  animation-name: fadeInAnimation;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  animation-duration: 1.2s;
  opacity: 0;
}
.fadein5 {
  animation-name: fadeInAnimation;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
  animation-duration: 1.2s;
  opacity: 0;
}
.fadein6{
  animation-name: fadeInAnimation;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
  animation-duration: 1.2s;
  opacity: 0;
}

.fadeout1 {
  animation: fadeOutAnimation ease 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
.fadeout2 {
  animation: fadeOutAnimation ease 1s;
  animation-delay: 0.12s;
  animation-fill-mode: forwards;
}
.fadeout3 {
  animation: fadeOutAnimation ease 1s;
  animation-delay: 0.14s;
  animation-fill-mode: forwards;
}
.fadeout4 {
  animation: fadeOutAnimation ease 1s;
  animation-delay: 0.16s;
  animation-fill-mode: forwards;
}
.fadeout5 {
  animation: fadeOutAnimation ease 1s;
  animation-delay: 0.18s;
  animation-fill-mode: forwards;
}
.fadeout6 {
  animation: fadeOutAnimation ease 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes backgroundcolortransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes highlightcolortransition {
  0% {
    background-color: rgb(8, 5, 23);
  }
  100% {
    background-color: rgb(26, 15, 55);
  }
}

@keyframes twinkle1 {
  0% {
    transform: translate(0);
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  23% {
    opacity: 0.1;
  }
  26% {
    opacity: 1;
  }
  33% {
    transform: translate(-5px, 5px);
  }
  66% {
    transform: translate(5px, 0px);
  }
  96% {
    opacity: 1;
  }
  100% {
    transform: translate(0);
    opacity: 0;
  }
}
@keyframes twinkle2 {
  0% {
    transform: translate(0);
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33% {
    transform: translate(3px, 8px);
  }
  50% {
    opacity: 1;
  }
  51% { 
    opacity: 0.7;
  }
  52% {
    opacity: 1;
  }
  54% {
    opacity: 0.1;
  }
  57% {
    opacity: 1;
  }
  66% {
    transform: translate(-2px, 6px);
  }
  96% {
    opacity: 1;
  }
  100% {
    transform: translate(0);
    opacity: 0;
  }
}
@keyframes twinkle3 {
  0% {
    transform: translate(0);
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33% {
    transform: translate(-5px, -2.5px);
  }
  50% {
    opacity: 1;
  }
  54% {
    opacity: 0.1;
  }
  55% {
    opacity: 1;
  }
  66% {
    transform: translate(-5px, -10px);
  }
  96% {
    opacity: 1;
  }
  100% {
    transform: translate(0);
    opacity: 0;
  }
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
